body {
    background-color: #fff;
}

.container-fluid.mt-5 {
    margin-right: 20px;
}

#header {
    font-weight: 600;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.form-control {
    margin-top: 13px;
}

.history {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#get_button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 12;
    font-weight: 600;
    padding: 5px;
    margin-right: 10px;
}

#delete_button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 12;
    font-weight: 600;
    padding: 5px;
}

#get_button:hover {
    background-color: green;
    color: #fff;
}

#delete_button:hover {
    background-color: red;
    color: #fff;
}

.messages {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    background-color: #fff;
}

#list-history {
    border-radius: 2px;
    padding: 2px;
    padding-left: 5px;
}

.history-title {
    margin-bottom: 7px;
    font-weight: 600;
}

